/* General aparience configuration */
html, body {
  font-family: 'Merriweather Sans', sans-serif !important;
  scroll-behavior: smooth;
}

/* Fonts */

.t-titles {
  font-family: 'Merriweather Sans', sans-serif !important;
}

.t-buttons {
  font-family: 'Signika', sans-serif !important;
}

.t-text {
  font-family: 'Hind', sans-serif !important;
}


$primary: #3083DC;
$secondary: #0B6E4F;
$success: #49DCB1;
$info: #60E1E0;
$warning: #F2A541;
$danger: #EF767A;
$light: #EEE5E9;
$dark: #1B1725;
$white: #EEE5E9;

@import "~bootstrap/scss/bootstrap.scss";
